<ion-content>
  <app-header></app-header>
  <ion-list>
    <!-- Clases de Matemáticas -->
    <ion-item>
      <ion-label>Matemáticas 1</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Matemáticas 2</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Matemáticas 3</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>

    <!-- Clases de Programación -->
    <ion-item>
      <ion-label>Programación 1</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Programación 2</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Programación 3</ion-label>
      <ion-button fill="outline" (click)="generarQr()">Pasar lista</ion-button>
    </ion-item>
  </ion-list>

  <!-- Mostrar QR generado -->
  <div *ngIf="qrCodeString">
    <qrcode [qrdata]="qrCodeString" [width]="256" errorCorrectionLevel="M"></qrcode>
  </div>

  <app-footer></app-footer>
</ion-content>
